<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="photoshop_sida.css"/>
	<meta charset="utf-8"/>
	<title>Games, Games and more Games</title>
</head>
<body>
	<div id="main">
		<div id="logo"></div>
		<div id="header"></div>
		<div id="menu"></div>
		<div id="content">
			<%= yield %>
		</div>
	</div>
	


</body>
</html>