body {
	background-image: url('toning.png'); ;
	background-color: black;
	color: white;
	background-repeat: repeat-x;
}



#main {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 1287px; /*1287px*/
	height: auto;
	/*border: 1px solid black;*/
}

#logo {
	float: left;
	position: relative;
	margin-left: -1px;
	margin-top: -1px;
	width: auto;
	height: 150px;
	/*border: 1px solid black;*/
}


#header {							/*bredden är 1135 på header (1287 på main)*/	
	position: relative;
	margin-left: 150px;
	margin-top: -1px;
	margin-right: -1px;
	width: 1136px;
	height: 150px;
	/*border: 1px solid black;*/
}

#menu {
	float: left;
	position: relative;
	margin-left: -1px;
	margin-top: -1px;
	width: 150px;
	height: auto;
	/*border: 1px solid black;*/
}

#content {
	position: relative;
	width: 1136px;
	height: auto;
	margin-left: 150px;
	margin-right: -1px;
	margin-top: -1px;
	margin-bottom: -1px;
	/*border: 1px solid black;*/
}

a{  text-decoration: none;
	color: rgb(18,94,45);
}

a:hover{ color: rgb(20,88,104); 
}

li {
	color: rgb(18,94,45);
	list-style: square;
	font-size: 0.7cm;
}