body {
	background-image: url('toning.png'); ;
	background-color: black;
	color: white;
	background-repeat: repeat-x;
}



#main {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 1287px; /*1287px*/
	height: auto;
	/*border: 1px solid black;*/
}

#logo {
	float: left;
	position: relative;
	margin-left: -1px;
	margin-top: -1px;
	width: auto;
	height: 150px;
	/*border: 1px solid black;*/
}


#header {							/*bredden är 1135 på header (1287 på main)*/	
	position: relative;
	margin-left: 150px;
	margin-top: -1px;
	margin-right: -1px;
	width: 1136px;
	height: 150px;
	/*border: 1px solid black;*/
}

#menu {
	float: left;
	position: relative;
	margin-left: -1px;
	margin-top: -1px;
	width: 150px;
	height: auto;
	/*border: 1px solid black;*/
}

#content {
	position: relative;
	width: 1136px;
	height: auto;
	margin-left: 150px;
	margin-right: -1px;
	margin-top: -1px;
	margin-bottom: -1px;
	/*border: 1px solid black;*/
}

a{  text-decoration: none;
	color: rgb(18,94,45);
}

#photos {
	background-image: url('./photos-b.png');
	background-repeat: no-repeat;
}

#photos:hover{ 
	background-image: url('./photos-b_pressed.png');
	background-repeat: no-repeat;
}

#info {
	background-image: url('./info-b.png');
	background-repeat: no-repeat;
}

#info:hover {
	background-image: url('info-b_pressed.png');
	background-repeat: no-repeat;
}

#start {
	background-image: url('start-b.png');
	background-repeat: no-repeat;
}

#start:hover {
	background-image: url('start-b_pressed.png');
	background-repeat: no-repeat;
}

#review {
	background-image: url('review-b.png');
	background-repeat: no-repeat;
}

#review:hover {
	background-image: url('review-b_pressed.png');
	background-repeat: no-repeat;
}



li {
	padding-left: none;
	margin-left: none;
	list-style: none;
}

#menu ul li a {
	display: block;
	height: 45px;
	width: 105px;
}

p {
	font-size: 0.5cm;
}